
    body {
      margin: 0;
      font-family: 'Metropolis', 'Montserrat', sans-serif;
      background-color: #f2f0e7;
      color: #000;
    }

    .topo{
      background-color: #000;
      height: 40px;
    }

    .container {
      width: 100%;
      max-width: 480px;
      margin: 0 auto;
    }

    .header {
      text-align: center;
      padding: 20px 10px;
      border-bottom: 2px solid #000;
    }

    .header h1 {
      font-size: 34px;
      font-weight: 800;
      letter-spacing: -1px;
      margin: 0;
    }

    .header span {
      display: block;
      font-size: 18px;
      margin-top: 5px;
      font-weight: 400;
    }

    .date-bar {
      background-color: #00b4ff;
      padding: 10px;
      text-align: center;
      font-weight: 700;
      color: #000;
      margin-top: 10px;
      font-size: 16px;
    }

    .card {
      padding: 1.5em;
      /*border-bottom: 2px solid #000;*/
    }

    .card h2 {
      font-size: 22px;
      font-weight: 800;
      margin: 0 0 15px 0;
      line-height: 1.3;
      text-transform: uppercase;
    }

    .campus {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;

    }

    .campus span {
      font-weight: 400;
    }

    .btn {
      display: inline-block;
      background-color: #000;
      color: #00b4ff;
      text-decoration: none;
      padding: 12px 28px;
      font-size: 18px;
      font-weight: 700;
      border-radius: 4px;
    }

    .rodape{
      background-color: #000;
      height: 40px;
      color: aliceblue;
      text-align: center;
      padding: 10px;
    }

    .rodape a{

        
        text-decoration: none;
        color: inherit;
        
    }
    @media (max-width: 480px) {
      .header h1 {
        font-size: 30px;
      }
      .card h2 {
        font-size: 20px;
      }
      .btn {
        font-size: 16px;
      }
    }
